@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import 'normalize.css';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    text-decoration: none;
}
// a {
//     color: #fff;
// }
//----------- OVERRIDE FULLCALENDAR STYLE -----------
.fc-bg-event {
    opacity: 1 !important;
    font-style: normal !important;
}
.fc-event-title {
    font-style: normal !important;
    // font-size: 1.2rem !important;
}

.test-css {
    // border: 1px solid black !important;
    border-radius: 10px;
    color: white;
}
.fc-day-today {
    background-color: rgb(225, 225, 225) !important;
    border-radius: 10px;
}
.fc-toolbar-title {
    font-size: 1.5rem !important;
}
.fc-toolbar-title::first-letter {
    text-transform: capitalize;
}

.fc-toolbar {
    align-items: flex-end !important;
}
.fc-event-past {
    background-color: rgb(187, 187, 187) !important;
}

//----------------------
