.container {
    width: 80%;
    padding: 20px 0px 50px 0px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.slide-container {
    margin: auto;
    padding-bottom: 100px;
}

.out {
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 30px;
    border-radius: 15px;
}

.card {
    text-align: center;
    padding: 5px 5px 5px 5px;
    opacity: 1;
    color: white;
}
.card-body {
    text-align: left;
    padding: 20px 20px 20px 20px;
}

.card-title {
    color: #262626;
    display: block;
    overflow: hidden;
    font-size: 14px;
    line-height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0 !important;
}

.card-text {
    color: #8742eb;
    display: block;
    overflow: hidden;
    font-size: 14px;
    line-height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0 !important;
}

// img {
//     display: block;
//     margin: auto;
//     width: 100%;
//     border-radius: 15px;
// }
