#TrainingSchedule {
    .test-css {
        color: red !important;
    }

    .fc-event-title {
        color: red !important;
    }
    .haha {
        color: red;
    }
}
.schedule-container {
    height: 130vh;
    display: flex;
    justify-content: center;
}
.schedule-content {
    height: 130vh;
    width: 70%;
}
