.container {
    width: 100%;
}
.header {
    width: 80%;
    padding: 20px 0px 50px 0px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.slideshow {
    width: 100%;
    margin: auto;
}
