.wrapper {
    background: rgb(120, 120, 120);
    // position: sticky;
}

.noti-switch {
    .all {
        padding: 10px;
        border-radius: 20px;
        font-weight: 500;
        margin-right: 10px;
        cursor: pointer;
    }
    .unread {
        // background-color: #e7f3ff;
        padding: 10px;
        border-radius: 20px;
        font-weight: 500;
        cursor: pointer;
    }

    .all:hover {
        background-color: #e2e2e2;
    }
    .unread:hover {
        background-color: #e2e2e2;
    }
    .active {
        color: red;
    }
}
